/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./resources/scss/app.scss ***!
  \******************************************************************************************************************/
.app {
  color: green;
}
